.Subtitle {
    text-align: center;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.2em;
    color: #2c6274;
}

.SubtitleUnderline {
    margin-left: auto;
    margin-right: auto;
    color: rgba(255, 255, 255, 0);
    margin-top: -2.5em;
    user-select:none;
    border-bottom: 3px rgb(186, 186, 186) solid;
    padding-right: 50px;
}