.CourseCard-Subtitle, .CourseCard-Title {
    text-align: left;
    font-family: "Work Sans";
}

.CourseCard {
    border: 1px solid #838282FF;
    border-radius: 10px;
    padding: 20px 50px 10px 20px;
    width: fit-content;
}

.CourseCard-Subtitle {
    color: #c4b5b5FF;
    font-size: 16px;
}

.CourseCard-Title {
    color: #43b6c6FF;
    font-size: 18px;
}