.EmailForm-Wrapper {
    display: grid;
    grid-template-areas: 
        "Label-Email Input-Email"
        "Label-Subject Input-Subject"
        "Label-Message Input-Message";

    width: 80%;
    gap: 10px;

    border: 1px solid black;
    padding: 20px 40px 20px 40px;
    margin: 40px auto 0px auto;

}

.EmailForm-Wrapper > * {
    text-align: left;
    width: fit-content;
}

.EmailForm-Wrapper > input {
    width: 100%;
}