.Courses {
    margin-top: 70px;
}

.Courses-Header, .Courses-Header-BorderDiv {
    margin: 0 10% 0 5%;
}

.Courses-Header {
    font-size: 36px;
    color: #464646;
    text-align: left;
}

.Courses-Header-BorderDiv {
    border-bottom: 2px solid #8b8b8bFF;
    margin-bottom: 40px;
    width: 80px;
}

.Courses-Display {
    margin-left: 5%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    align-content: center;
    justify-items: center;
    justify-content: stretch;
    row-gap: 20px;
    column-gap: 24px;
    /* padding-block-start: 14px;
    padding-block-end: 14px; */
}