.Cover {
    position: relative;
}

#Cover-Img {
    width: 100%;
    height: 75svh;
    object-fit: cover;
    object-position: 0 30%;
    position: relative;
    margin-top: 15px;
    border-radius: 5px;
}

#Cover-Card {
    position: absolute;
    top: 180px;
    right: 85px;
    background-color: white;
    padding: 25px;
    border-radius: 20px;
}

#Cover-Card p {
    font-size: 24px;
}

#Cover-Card h2 {
    font-size: 36px;
    font-weight: bold;
    color: rgb(79, 189, 195);
}

#Cover-Card h3 {
    font-size: 30px;
    font-weight: bold;
    color: #4ba0a5FF;
}

#Cover-Card h4 {
    font-size: 24px;
    font-weight: normal;
    color: #838282FF;
}

#Cover-Card-Description {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: start;
    align-content: stretch;
    justify-content: start;
    row-gap: 2px;
}

#Cover-Contact {
    float: right;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    justify-content: space-around;
    column-gap: 5px;

    margin-top: 15px;
    padding-left: 280px;
}