#Details-Cards-Group {
    position: relative;
    width: 80%;
    border-left: 2px solid #464646;
}

#Details-Cards-Background {
    position: absolute;
    width: 96%;
    height: 100%;
    top: 5px;
    left: 0px;
    z-index: -1;
    margin-left: 25px;
    margin-right: 10px;
    background: linear-gradient(to bottom, rgba(166, 191, 204, 0.65),rgba(166, 191, 204, 0));
    border-radius: 15px;
}

#Details-Cards {
    position: relative;
    /* background: linear-gradient(to bottom, rgba(166, 191, 204, 0.65),rgba(166, 191, 204, 0)); */
    /* border: 1px solid black; */
    
    border-radius: 15px;
    width: 100%;
    height: 400px;
    overflow-y: scroll;
    
    margin-left: 20px;
    padding-right: 10px;
    
    box-sizing: content-box; /* ensures padding doesn't shrink content area */
    
}

#Details-Cards::-webkit-scrollbar {
    margin-left: 30px;
    width: 5px;
    /* outline: 1px solid black; */
}

#Details-Cards::-webkit-scrollbar-track {
}

#Details-Cards::-webkit-scrollbar-track-piece {
  /* outline: 4px solid #d1d1d1;
  outline-offset: -15px; */
  background-color: #d1d1d1;
  padding: 1rem;
  border-radius: 15px;
}

/* Handle */
#Details-Cards::-webkit-scrollbar-thumb {
  background: #58afbb;
  border-radius: 5px;

}

