.Details {
    /* margin-top: 70px; */
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 40% 60%;
    margin: 70px 7% 0 7%;

    align-items: center;
    align-content: stretch;
    justify-items: center;
    justify-content: stretch;

}

#Details-Sections {
    /* border: 1px solid black; */
    padding: 50px 50px 50px 30px;
    width: 100%;
    border-right: 2px solid #464646;
    position: relative;
    /* background-color: bisque; */
}

#Details-Sections > * {
    margin: 40px 0 40px 0;
}

#Details-Sections > div > label {
    font-family: "Work Sans";
}

.Details-Sections-Previous label {
    font-size: 18px;
    color: #cfcfcfFF;
}

.Details-Sections-Current label {
    font-size: 36px;
    color: #58afbbFF;
    margin-bottom: 5px;
}

.Details-Sections-Current .BorderDiv {
    display: flex;
    justify-self: center;
    width: 100px;
    border-bottom: 2px solid #8b8b8bFF;
    /* margin-bottom: 50px; */
}

.Details-Sections-Next label {
    font-size: 24px;
    color: #838282FF;
}

#Details-Cards {
    /* border: 1px solid black; */
    background: linear-gradient(to bottom, rgba(166, 191, 204, 0.65),rgba(166, 191, 204, 0));
    border-radius: 15px;
    width: 80%;
    height: 100%;
}

.Details-Sections-Radio {
    appearance: none; /* Modern browsers */
    -webkit-appearance: none; /* Safari/Chrome */
    -moz-appearance: none; /* Firefox */
        margin: 0;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    /* border: 1px solid black; */
    margin: 5px;
}

/* Optional: Remove when clicked */
.Details-Sections-Radio:checked {
    background: #9bccd3FF;
}

@keyframes Shift-up {
    0% {
        translate: 0px 50px;
    }
    100% {
        /* translate: 0px -40px; */
    }
}

@keyframes Up-Next {
    0% {
        font-size: 18px;
        color: #cfcfcfFF;
    }
    100% {
        font-size: 24px;
        color: #838282FF;
    }
}

@keyframes Up-Current {
    0% {
        font-size: 24px;
        color: #838282FF;
    }
    100% {
        font-size: 36px;
        color: #58afbbFF;
        margin-bottom: 5px;
    }
}

@keyframes Up-Prev {
    0% {
        font-size: 36px;
        color: #58afbbFF;
        margin-bottom: 5px;
    }
    100% {
        font-size: 18px;
        color: #cfcfcfFF;
    }
}

/* Shift Up */
#ShiftUp-Next {
    animation-name: Shift-up;
    animation-duration: 0.4s;
}

#ShiftUp-Next > label {
    animation-name: Up-Next;
    animation-duration: 0.7s;
}

#ShiftUp-Current {
    animation-name: Shift-up;
    animation-duration: 0.4s;
}

#ShiftUp-Current > label {
    animation-name: Up-Current;
    animation-duration: 0.7s;
}

#ShiftUp-Previous {
    animation-name: Shift-up;
    animation-duration: 0.4s;
}

#ShiftUp-Previous > label {
    animation-name: Up-Prev;
    animation-duration: 0.7s;
}

/* Shift Down */

@keyframes Shift-down {
    0% {
        translate: 0px -50px;
    }
    100% {
        /* translate: 0px -40px; */
    }
}

@keyframes Down-Next {
    0% {
        font-size: 36px;
        color: #58afbbFF;
        margin-bottom: 5px;
    }
    100% {
        font-size: 24px;
        color: #838282FF;
    }
}

@keyframes Down-Current {
    0% {
        font-size: 18px;
        color: #cfcfcfFF;
    }
    100% {
        font-size: 36px;
        color: #58afbbFF;
        margin-bottom: 5px;
    }
}

@keyframes Down-Prev {
    0% {
        font-size: 18px;
        color: #cfcfcfFF;
    }
    100% {
        font-size: 18px;
        color: #cfcfcfFF;
    }
}

#ShiftDown-Next {
    animation-name: Shift-down;
    animation-duration: 0.4s;
}

#ShiftDown-Next > label {
    animation-name: Down-Next;
    animation-duration: 0.7s;
}

#ShiftDown-Current {
    animation-name: Shift-down;
    animation-duration: 0.4s;
}

#ShiftDown-Current > label {
    animation-name: Down-Current;
    animation-duration: 0.7s;
}

#ShiftDown-Previous {
    animation-name: Shift-down;
    animation-duration: 0.4s;
}

#ShiftDown-Previous > label {
    animation-name: Down-Prev;
    animation-duration: 0.7s;
}