.Header {
    display: grid;
    /* grid-template-columns: auto auto auto auto auto; */
    /* text-align: center; */
    /* height: 5em; */
    background-color: rgb(254, 254, 254);

    grid: 1rem / 1fr 1fr 1fr 1fr 1fr; 
    column-gap: 10%;
    align-items: center;
    justify-content: center;
}

#Header-Title {
    display: inline-block;
    width: 15rem;
    font-family: "Alegreya Sans";
    font-style: normal;
    font-weight: 400;
    color: #5d5d5dFF;
    font-size: 36px;
}

#Header-Descriptor {
    color: rgb(191, 191, 191);
    font-size: 18px;
    font-family: "Dancing Script";
    font-weight: 400;
    margin-top: 20px;
}

.Profile {
    margin-left: 10%;
    width: 50px;
    position: absolute;
}

@media (max-width: 870px) {
    .Header {
        column-gap: 5%;
    }
}

@media (max-width: 720px) {

    .Header {
        top: 2.5svh; 
    }
}

@media (max-width: 700px) {
    #Header {
        display: block;
    }

    #Header-Title {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3px;
        width: 100%;
        border-bottom: 2px solid rgb(152, 151, 151);
    }

    #Header-Descriptor {
        margin-top: 0px;
    }
}

