.Technology {
    /* margin-top: 70px; */
    padding-top: 100px;    
}

#Technology-Title {
    font-size: 36px;
    color: #464646;
    margin-bottom: 5px;
}

.Technology .BorderDiv {
    display: flex;
    justify-self: center;
    width: 100px;
    border-bottom: 2px solid #8b8b8bFF;
    margin-bottom: 50px;
}