.GallaryCard {
    overflow: hidden;
}

.GallaryCardImg {
    padding-left: 0px;
}

.GallaryCardButton {
    border: 1px rgba(255, 255, 255, 0) solid;
    box-shadow: 0 4px rgb(211, 215, 220);
    background-color: #deedf2d2;
    margin-top: 90%;
    height: 50%;
    border-radius: 10px;
}

.GallaryCardButton:hover {
    background-color: #aedef3;
    box-shadow: 0 0;
    /* filter: invert(100%) sepia(14%) saturate(902%) hue-rotate(112deg) brightness(97%) contrast(90%); */
}

.GallaryCardDescription {
    /* border: 1px black solid; */
    background-color: rgb(239, 239, 239);
    border-radius: 5px;
    margin-left:1%;
    padding: 5px;
}