.Contact {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    box-shadow: 4px 4px 4px 4px rgb(165, 173, 173);
    padding-top: 10px;
    border-radius: 10px;
    
    margin-bottom: 50px;
}