@font-face {
    font-family: "Dancing Script", serif;
    src: url(https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap);
    font-style: normal;
}

.Page0 > * {
    display: block;
    margin-left: 20%;
    margin-right: 20%;
}

.Title {
    text-align: center;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5); */
    padding-top: 20px;
    padding-bottom: 30px;
    margin-top: 20px;
    margin-bottom: -5px;
}

.Heading {
    font-size: medium;
    font-style: italic;
    text-align: center;
}

.Heading, p {
    font-family: "Dancing Script";
    font-style: italic;
}

.Underline {
    display: block;
    width: 5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5px;
    margin-bottom: 5px;
}

.TextDescription {
    display: block;
    text-align: center;
    margin-top: 30px;
}   

.ScrollSlide {
    margin-top: 30px;
}

.GallaryCardBar {
    height: 100%;
    width: 50%;
    border-radius: 5px;
}

.GallaryCardDescription {
    border-radius: 5px;
    margin-left:1%;
    padding: 5px;
}

.ScrollSlideControl {
    margin-top: 20px;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#ScrollSlideRange {
    width: 100%;
    accent-color: #27B7B6; 
}

.Contact {
    margin-top:40px;
    text-align: center;
}