@font-face {
    font-family: "Dancing Script", serif;
    src: url(https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap);
    font-style: normal;
}

.Page0 {

}

.Heading, p, a, #Brand {
    font-family: "Dancing Script";
    font-style: italic;
}

.Projects {
    margin-top: 100px;
    margin-bottom: 100px;
}

.Contact {
    margin-top:40px;
}

.Skills {
    margin-top: 20px;
}

.Title {
    font-size: x-large;
}

.Subtitle {
    font-size: large;
}

.Heading {
    font-size: large;
}

