.Page0 > * {
    display: block;
    margin-left: 20%;
    margin-right: 20%;
}

.Title {
    text-align: center;
}

.Heading {
    font-size: medium;
    font-style: italic;
    text-align: center;
}

.Underline {
    display: block;
    border-bottom: 1px black solid;
    width: 5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5px;
    margin-bottom: 5px;
}

.TextDescription {
    display: block;
    text-align: center;
}

.GallaryCardBar {
    border: 1px black solid;
    height: 100%;
    width: 30px;
}

#ScrollSlideRange {
    width: 100%;
    accent-color: #27B7B6; 
}