.Skills {
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 4px 4px 4px 4px rgb(165, 173, 173);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}
.SkillList {
    flex-shrink: 3;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 5%;
    padding-right: 5%;
    row-gap: 1em;
    
}

.Skill {
    background-color:#deedf2d2;
    box-shadow: 0 2px rgb(189, 198, 198);
    /* flex: 0 0 auto; */
    margin-left: 2px;
    margin-right: 2px;
    padding: 1rem 2rem;
    border-radius: 0.25rem;
    text-align: center;
    flex: 1 1 0px;
}

.Skill:hover {
    background-color:#aedef3;
    scale: 1.25;
}

.SkillList > * {
    list-style-type: none;
}

.Details {
    margin: 0 5% 0 5%;
}

#ExpandSkillsButton {
    width: 100%;
}


