.SkillsContainer {
    border: 1px solid black;
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    height: 5em;
    overflow: hidden;
    
}

@keyframes scrollLeft {
    from {
        left: 100%;
    }
    to {
        left: -50%;
    }
}

.Skill {
    position: absolute;
    height: 100%;
    width: 10em;
    text-align: center;
    line-height: 5em;
    margin-left: 200px;
    border: 1px black solid;
    background-color: beige;

    animation-name: scrollLeft;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}